@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: lightgrey;
  font-family: 'Noto Serif JP', serif;
}
.stories {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 0 25em 0 25em;
}
.news {
  background-color: white;
  /* display: inline-block;
  overflow: hidden;
  max-width: 30em;
  margin: 1em 0; */
  text-align: left;
  box-shadow: 1em 1em 4em black;
  border-radius: 0.5em;
}
.news-lead {
  text-align: center;
}
.news-img {
  max-width: 100%;
}

/* newly added */
.news-story {
  padding: 0 1em 0 1em;
}

.more-story{
  display: block;
  text-decoration: none;
  background-color: #bdecfa;
  color: rgb(36, 35, 35);
  padding: 0 11em 0.5em 10em;
  margin: 0 0 0.5em 0;
}

.pagination{
  padding: 3em 0 0 0;
  text-align: center;
}

.more-story:hover{
  background-color: bisque;
}

.pagination li{
  list-style: none;
  display: inline-block;
  padding: 0 0 0 1em;
}

.page{
  text-decoration: none;
  color: rgb(18, 20, 11);
}

.active-page{
  color: rgb(238, 100, 8);
}